
.App {
    text-align: center;
    background-color: #354F52;;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2%;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
    padding-top : 2vmin;
}

.slider{
    height : 30vmin;
}

.cards{
    display : flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : space-evenly;
    flex :1;
    margin-top: 20 px;
}

.MailForm {
    margin: 10%;
}

footer {
    background-color: #26383a;
    
}

footer p{
    height: 5vmin;
    
    padding : 3vmin;
    padding-bottom: 0%;
    margin-bottom: 0;
    color : #E6E6E6;
    justify-items: center;
    vertical-align: middle;


}